.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.firstPage{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
}

.introSection{
    height: 174px;
    width: 1132px;
    display: flex;
    border: 446px;
    position: relative;
}