:root {
  --color-yellow: #e3b748;
  --color-primary: #1d1d1d;
  --color-black: #111111;
  --color-white: #ffffff;
  --color-grey: #6A6A6A;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  margin: 0;
}

html,
body{
  height: 100%;
}

body{
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-primary);
  overflow-x: hidden;
  color: var(--color-white);
}

img,
picture,
video,
canvas,
svg{
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select{
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
  overflow-wrap: break-word;
}

#root,
#__next{
  isolation: isolate;
}

a,
a:hover,
a:focus,
a:active{
  text-decoration: none;
  color: inherit;
}