.container{
    display: flex;
    position: relative;
    top: 120px;
    flex-direction: column;
    width: 1139px;
    height: 551px;
    align-items: center;
    margin-top: 150px;
    margin-left: 50px;
    justify-content: space-around;
}

.cards{
    display: flex;
    justify-content: space-around;
    gap: 2px;
    width: 1139px;
}

.heading{
    font-size: 52px;
    font-weight: 600;
    line-height: 77.23px;
}

